#techniqueModalLabel{
    color: #4a3a6e;
}

thead, .modal-header{
    background-color: #4a3a6e;
    color: #ffe5b4;
}

.modal-title{
    color: #ffe5b4 !important;
}

tbody{
    color: #4a3a6e;
}

tbody > tr {
    border-top: 1px solid #4a3a6e;
}