.temtem-text{
    font-size: large;
}

.text-div{
    color: #ffe5b4;
    background-color: #4a3a6e;
    padding: 0;
}

.social-networks{
    background-color: #ffe5b4;
}

@media only screen and (max-width: 600px) {
    .text-reverse-div{
        display: flex;
        flex-direction: column-reverse;
    }
  }