.card {
    width: 13rem;
    border: 1px solid #4a3a6e;
}

.card-body{
    background-color: #4a3a6e;
    color: #ffe5b4;
}

.card{
    background-color: #ffe5b4;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 9rem;
    }

    h5{
        font-size: 90%;
    }
  }